.cardProducto {
    background-color: #0b9ee7;
    border-radius: 10px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProducto img {
    width: 150px;
    object-fit: contain;
}

.cardProducto button {
    background-color: #1dd5cc;
    color: #e10707;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}