header{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.logo {
    width: 150px;
    border-radius: 70px;
}

li{
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.textos{
 font-size: 30px;
}
