header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 15px solid rgb(10, 14, 241);
}

.logoMarolio {
    width: 150px;
}

li{
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}
